.pause-refresh-button {
  padding: 0.125rem;
  width: 1.825rem;
  height: 1.825rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
}
