.pause-refresh-button {
  padding: 0.125rem;
  width: 1.825rem;
  height: 1.825rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.825rem;
  top: 0.825rem;
}
