.data-decode {
  --data-decode-padding: 0.375rem 3rem 0.375rem 0.75rem;
  border-radius: var(--border-radius);

  &.has-decode {
    --data-decode-padding: 0.375rem 9rem 0.375rem 0.75rem;
    .copy-button {
      right: 6.75rem;
    }
  }

  .button-holder {
    .dropdown {
      right: 0.313rem;
      top: 0.313rem;
      pointer-events: none;
      * {
        pointer-events: initial;
      }
      .dropdown-item::after {
        display: none;
      }
      .dropdown-toggle {
        width: 6.125rem;
      }
    }
    .copy-button {
      position: absolute;
      top: 0.313rem;
      right: 0.313rem;
      width: 1.813rem;
      height: 1.813rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--neutral-900);
      &:hover {
        background-color: var(--black);
      }
      svg {
        height: 0.75rem;
      }
    }
  }

  .textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: var(--border-width) solid var(--border-color);
    background-color: var(--neutral-800);
    color: var(--neutral-200);
    border-radius: var(--border-radius);
    font-size: $font-size-base;
    min-height: 4rem;
    height: 5.5rem;
    overflow: auto;
    padding: var(--data-decode-padding);
    word-wrap: break-word;
    white-space: pre-wrap;
    resize: vertical;
    scrollbar-width: thin;
    overflow-x: hidden;

    &:hover {
      border: var(--border-width) solid var(--border-color);
    }

    &.textarea-lg {
      min-height: 8rem;
      height: 9.5rem;
    }
  }
}
