.stats-card {
  font-family: var(--headings-font-family);
  flex-grow: 1;
  .stats-card-body {
    justify-content: start;
  }
  .fam {
    .sym {
      height: 0.4em;
      &.custom {
        height: 0.8em;
      }
    }
  }
  .stats-card-value {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.has-animation {
      margin-top: -0.438rem;
    }
  }
  .stats-card-content {
    margin-bottom: 0;
    margin-top: 0.5rem;
    &.has-animation {
      margin-top: 0.313rem;
    }
  }
}

.small-stats-card {
  font-family: var(--headings-font-family);
  .stats-card-body {
    --card-spacer-x: 1rem;
    --card-spacer-y: 0.75rem;
    column-gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .stats-card-value {
    font-size: 1.125rem;
    font-weight: 500;
  }
}

.stats-cards {
  &.equal-width {
    @include media-breakpoint-up(xl) {
      .stats-card {
        flex-basis: 0;
      }
    }
  }
}
